@layer utils {

    /**
     * Center an element horizontally within its container
     */
    .u-align-center {
        display: table;
        margin-inline: auto;
    }

    /**
     * Center an element vertically within its container
     */
    .u-align-middle {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    /**
     * Center an element horizontally and vertically within its container
     */
    .u-align-middle-center {
        display: table;
        position: relative;
        margin-inline: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    /**
     * Align an absolutely positioned element to the top-left
     */
    .u-align-abs-top-left {
        position: absolute;
        top: 0;
        left: 0;
    }

    /**
     * Align an absolutely positioned element to the top-center
     */
    .u-align-abs-top-center {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    /**
     * Align an absolutely positioned element to the top-right
     */
    .u-align-abs-top-right {
        position: absolute;
        top: 0;
        right: 0;
    }

    /**
     * Align an absolutely positioned element to the middle-left
     */
    .u-align-abs-middle-left {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    /**
     * Align an absolutely positioned element to the middle-center
     */
    .u-align-abs-middle-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /**
     * Align an absolutely positioned element to the middle-right
     */
    .u-align-abs-middle-right {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    /**
     * Align an absolutely positioned element to the bottom-left
     */
    .u-align-abs-bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    /**
     * Align an absolutely positioned element to the bottom-center
     */
    .u-align-abs-bottom-center {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    /**
     * Align an absolutely positioned element to the bottom-right
     */
    .u-align-abs-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    /**
     * Align an element to the top-left within a flexbox or grid container
     */
    .u-align-self-top-left {
        margin-right: auto;
        align-self: start;
    }

    /**
     * Align an element to the top-center within a flexbox or grid container
     */
    .u-align-self-top-center {
        margin-inline: auto;
        align-self: start;
    }

    /**
     * Align an element to the top-right within a flexbox or grid container
     */
    .u-align-self-top-right {
        margin-left: auto;
        align-self: start;
    }

    /**
     * Align an element to the middle-left within a flexbox or grid container
     */
    .u-align-self-middle-left {
        margin-right: auto;
        align-self: center;
    }

    /**
     * Align an element to the middle-center within a flexbox or grid container
     */
    .u-align-self-middle-center {
        margin-inline: auto;
        align-self: center;
    }

    /**
     * Align an element to the middle-right within a flexbox or grid container
     */
    .u-align-self-middle-right {
        margin-left: auto;
        align-self: center;
    }

    /**
     * Align an element to the bottom-left within a flexbox or grid container
     */
    .u-align-self-bottom-left {
        margin-right: auto;
        align-self: end;
    }

    /**
     * Align an element to the bottom-center within a flexbox or grid container
     */
    .u-align-self-bottom-center {
        margin-inline: auto;
        align-self: end;
    }

    /**
     * Align an element to the bottom-right within a flexbox or grid container
     */
    .u-align-self-bottom-right {
        margin-left: auto;
        align-self: end;
    }

    /**
     * Image replacement to provide a caption to an image that is only available to web crawlers and screen readers
     */
    .u-hide-text {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    /**
     * Make a media element (img, svg, canvas, etc.) responsive while maintaining aspect ratio
     */
    .u-responsive-media {
        display: block;
        max-inline-size: 100%;
        block-size: auto;
    }

    /**
     * Prevent text from wrapping and truncate with an ellipsis
     */
    .u-text-truncate {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    /**
     * Prevent text from wrapping and truncate with a hard clip
     */
    .u-text-clip {
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
    }

    /**
     * Break words when their length exceeds the width of their container
     */
    .u-text-break {
        overflow-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
    }

    /**
     * Hide an element visually, but maintain its layout offscreen
     */
    .u-offscreen {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(-100%, -100%);
    }

    /**
     * Hide an element visually, but remain accessible to screen readers
     */
    .u-visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        white-space: nowrap;
        border: 0;
    }
}
